<h1 class='text-2xl text-center bold'>
  {{settings.hospital}}
</h1>
<h2 class='text-lg pt-1 text-center'>
  {{settings.unit}}
</h2>
{{#if settings.telephone}}
  <p class='text-sm text-center pt-1'>
    Tel: {{settings.telephone}}
  </p>
{{/if}}

<div class='grid grid-cols-3 gap-2 mt-3 p-3'>
  <p>
    <span class='bold'>
      Name:
    </span>
    {{patient.name}}
  </p>
  <p>
    <span class='bold'>
      Age:
    </span>
    {{patient.age}}
  </p>
  <p>
    <span class='bold'>
      Gender:
    </span>
    {{patient.gender}}
  </p>
  <p>
    <span class='bold'>
      Ward:
    </span>
    {{surgery.ward}}
  </p>
  <p>
    <span class='bold'>
      BHT:
    </span>
    {{surgery.bht}}
  </p>
  <p>
    <span class='bold'>
      Date:
    </span>
    {{surgery.date}}
  </p>
</div>

<hr />

<h2 class='text-lg mt-3 text-center p-3'>
  {{surgery.title}}
</h2>

<div class='flex flex-col'>
  {{#if surgery.doneBy.length}}
    <div class='p-1 flex'>
      <span class='bold mr-1'>
        Done By:
      </span>
      <span>
        {{surgery.doneByAsString}}
      </span>
    </div>
  {{/if}}
  {{#if surgery.assistedBy.length}}
    <div class='p-1 flex'>
      <span class='bold mr-1'>
        Assisted By:
      </span>
      <span>
        {{surgery.assistedByAsString}}
      </span>
    </div>
  {{/if}}
</div>

{{#if surgery.notes}}
  <div class='p-1'>
    <div class='prose'>
      {{{surgery.notes}}}
    </div>
  </div>
{{/if}}

{{#if surgery.post_op_notes}}
  <hr />
  <div class='p-1'>
    <h2 class='text-md mt-3 text-center p-3'>
      Post-Op Notes
    </h2>
    <div class='prose'>
      {{{surgery.post_op_notes}}}
    </div>
  </div>
{{/if}}